{% extends 'base.html'%}
{% load static %} {% block content %}
<table>
    <thead>
        <th>
        <td>
            sadasdas
        </td>
        </th>
        <th>
        <td>
            asdasdassa
        </td>
        </th>
        <th>
        <td>
            asdasdassa
        </td>
        </th>
    </thead>
    <th>
    <td>
        asdasdassa
    </td>
    </th>
    <th>
    <td>
        asdasdassa
    </td>
    </th>
    <th>
    <td>
        asdasdassa
    </td>
    </th>
    <tbody>
    </tbody>
</table>
{% endblock %}